<!doctype html>
<html>

<head>
  <style>
    div {
      min-width: 400px;
      max-width: 600px;
    }
    .styled-table {
      border-collapse: collapse;
      width: 100%;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      margin: 0 auto;
    }

    .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
    }

    .styled-table th,
    .styled-table td {
      padding: 12px 15px;
    }

    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }

    .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #009879;
    }
  </style>
</head>

<body>
  <div>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Item ID</th>
          <th>Memebers</th>
          <th>Price</th>
          <th>Change</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ name }}</td>
        </tr>
        {{#each items}}
        <tr>
          <td>{{ item.name }}</td>
          <td></td>
          <td></td>
          <td>6000</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</body>

</html>