name: Node CI

on:
  push:
    branches: [main]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        sync: true
        host: ${{ secrets.SSH_HOST_NAME }}
        username: ${{ secrets.SSH_USERNAME}}
        password: ${{ secrets.SSH_PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          node -v
          su pi
          [[ $- == *i* ]] && echo 'Interactive' || echo 'not-interactive'
          shopt -q login_shell && echo 'login' || echo 'not-login'
