name: Node CI

on:
  push:
    branches: [main]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Configure SSH
      run: |
        mkdir -p ~/.ssh/
        echo "$SSH_KEY" > ~/.ssh/pi.key
        chmod 600 ~/.ssh/pi.key
        cat >>~/.ssh/pi <<END
        Host pi
          HostName $SSH_HOST
          User $SSH_USER
          IdentityFile ~/.ssh/staging.key
          StrictHostKeyChecking no
        END
      env:
        sync: true
        SSH_HOST: ${{ secrets.SSH_HOST_NAME }}
        SSH_USER: ${{ secrets.SSH_USERNAME }}
        SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
        SSH_KEY: ${{ secrets.SSH_KEY }}
      
    - name: Connect to SSH
      run: ssh pi
