name: Node CI

on:
  push:
    branches: [main]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Configure SSH
      run: |
        mkdir -p ~/.ssh/
        echo "$SSH_KEY" > ~/.ssh/pi.key
        chmod 600 ~/.ssh/pi.key
        cat >>~/.ssh/config <<END
        Host pi
          HostName $SSH_HOST
          User $SSH_USER
          IdentityFile ~/.ssh/pi.key
          StrictHostKeyChecking no
        END
      env:
        SSH_HOST: ${{ secrets.SSH_HOST_NAME }}
        SSH_USER: ${{ secrets.SSH_USERNAME }}
        SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
        SSH_KEY: ${{ secrets.SSH_KEY }}
    - name: Pull latest changes
      run: ssh -tt pi 'cd /home/pi/trey/projects/rsb-ts && sudo git pull && exit 0'
    - name: Build the Project
      run: ssh -tt pi 'cd /home/pi/trey/projects/rsb-ts && yarn build && exit 0'
    - name: Restart the Service
      run: ssh -tt pi 'cd /home/pi/trey/projects/rsb-ts && pm2 restart all && exit 0'
